@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --bg-color: #f9f6f6;
    --text-color: black;
}

[data-theme="dark"] {
    --bg-color: #323232;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    position: relative;
}

/*Barre de Navigation*/

/*catalogue header*/
.catalogue_header {
    position: relative;
    display: flex;
    background: black;
    justify-content: space-between;
    padding: 1rem;
}




header {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}


header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    color: white;
    font-weight: bold;
}

#compte {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: #d9d9d9;
    padding: 1.5rem 3rem;
    border-radius: 2.5rem;
    transition: all 0.5s;
    text-align: center;
}

#compte:hover {
    background-color: transparent;
    color: white;
}

#theme-toggle{
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    transition: all 0.5s;
}


/*HERO*/

.fastgo_title {
    font-size: 12rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    transition: all 0.5s;
}

.hero-1 {
    background-image: url('../imgs/RS6_banniere.jpg');
}

.hero-2 {
    background-image: url('../imgs/classG63_wallpaper.jpg');
}

.hero-3 {
    background-image: url('../imgs/svj_wallpaper.jpg');
    /* Exemple d'une troisième image */
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hero h1 {
    font-size: 12rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 2;
}

.hero p {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    color: rgba(217, 217, 217, 0.521);
    z-index: 2;
}

.hero .dots .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.hero .dots {
    position: absolute;
    bottom: 10%;
    z-index: 2;
}

.dot.active {
    padding: 7px;
    background-color: white !important;
}

#user-info {
    font-size: 1.6rem;
}

#user-info strong {
    font-weight: bold;
    font-style: italic;
}

/*INFORMATIONS ENTRERPRISE*/

.section_info {
    width: 100%;
    margin: auto;
    padding: 4rem;
}

.informations {
    width: 80%;
    padding: 2rem;
    margin: auto;
    display: flex;
    align-items: center;
}

.informations img {
    width: 50%;
    height: 50%;
}

h2 {
    font-size: 3.4rem;
    font-weight: bold;
}

.texte {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.texte p {
    font-size: 2.4rem;
    text-align: end;
}


#section_taycan .texte {
    align-items: flex-start;
}

#section_taycan .texte p {
    text-align: left;
}

/*SELECTION DE VEHICULES*/

h3 {
    font-size: 5rem;
}

/*
.vehicules_section {
    background: rgb(249, 246, 246);
    background: linear-gradient(180deg, rgba(249, 246, 246, 1) 0%, rgba(249, 246, 246, 1) 93%, rgba(255, 255, 255, 1) 100%);
}

.avis {
    background: rgb(249, 246, 246);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(249, 246, 246, 1) 7%, rgba(249, 249, 249, 1) 100%);
}*/



.nos_vehicules {
    padding: 4rem;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nos_vehicules p {
    font-size: 3.2rem;
}


.car_infos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: auto;
    gap: 1rem;
    padding: 1rem;
}


.main_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.car_card img {
    height: 400px;
    object-fit: contain;
    max-width: 100%;
    justify-self: anchor-center;
}

.car_card {
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    padding: 1rem;
    transition: 0.6s;
    background-color: white;
}

.car_card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.car_card_info {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.car_card_info h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: black;
}

.car_card a {
    text-decoration: none;
    color: black;
}

.car_card p {
    font-weight: normal;
    color: black;
    font-size: 20px;
}

#car_description {
    width: 220px;
}


#see_more {
    text-decoration: underline;
    color: var(--text-color);
    margin: auto;
}

#see_more:hover {
    font-weight: bold;
}


/*AVIS CLIENTS*/

h5 {
    font-size: 3.2rem;
    font-weight: normal;
    text-align: center;
    padding: 5rem 0;
}

h6 {
    font-size: 3.2rem;
    font-weight: normal;
    padding-bottom: 1rem;
}

.avis_content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.contenu_avis {
    border-radius: 2.5rem;
    text-align: center;
    box-shadow: 0px 5px 5px #888888;
}

.contenu_avis h4 {
    font-size: 2.4rem;
}

.contenu_avis {
    padding: 2.5rem;
}

.contenu_avis p {
    font-size: 1.5rem;
    padding-top: 1rem;
}

/*QUESTIONS FREQUENTES*/

.div_questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65rem;
    word-break: normal;
    margin: auto;
    gap: 2rem;
}

.questions_box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: solid 1px white;
    box-shadow: 5px 5px 5px #ecebebb9;
    border-radius: 2.5rem;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
    transition: all 0.5s;

}

.questions_box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slideDown 0.5s ease-in-out;
}


.section_questions {
    text-align: center;
    text-align: left;
    padding: 4rem 0;
}


.section_questions p {
    font-size: 2rem;
    width: 85%;
}

.section_questions h6 {
    font-size: 5rem;
    font-weight: bold;
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
}

.answers {
    display: none;
    transition: all 0.5s;
    opacity: 0.7;
    animation: slideDown 0.5s ease-in-out;
    font-style: oblique;
    font-weight: 200;
}

@keyframes slideDown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.questions.active {
    transition: all 0.5s;
    border-radius: 5px;
}

.answers.active {
    display: block;
    transition: all 0.5s;
}

.questions_box img.active {
    transform: rotate(180deg);
    transition: all 0.5s;
}


footer {
    padding: 2rem 0;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*gap: 2rem;*/
    color: white;
}

footer div {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

footer p {
    text-align: center;
}

.footer_copyright {
    background-color: #2b2b2b;
    text-align: center;
    width: 100%;
    color: white;
}

.footer_copyright a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.footer_copyright a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .hero h1 {
        font-size: 8rem;
    }

    .hero p {
        font-size: 3rem;
    }

    .nos_vehicules {
        width: 90%;
    }

    .main_content {
        grid-template-columns: repeat(2, 1fr);
    }

    .informations {
        flex-direction: column;
        text-align: center;
    }

    .informations img {
        width: 80%;
    }

    .texte p {
        font-size: 1.8rem;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 769px) {

    /*BARRE DE NAVIGATION*/

    header nav ul li a {
        font-size: 1.6rem;
    }

    #compte {
        font-size: 1.6rem;
        padding: 1rem 2rem;
    }

    /*HERO*/

    h1 {
        font-size: 6rem;

    }

    .hero p {
        font-size: 2.2rem;
    }

    /*INFORMATIONS ENTREPRISE*/

    .section_info {
        padding: 4rem 5.5rem;
    }

    .informations {
        padding: 0;
    }

    .informations img {
        width: 80%;
        height: 80%;
    }

    h2 {
        font-size: 2rem;
    }

    .texte {
        align-items: center;
    }

    .texte p {
        font-size: 1.4rem;
        text-align: center !important;
    }

    /*SELECTION DE VEHICULES*/

    h3 {
        font-size: 2.5rem;
    }

    .nos_vehicules p {
        font-size: 1.6rem;
    }

    .nos_vehicules a {
        font-size: 1.4rem;
    }

    /*AVIS CLIENTS*/

    .avis_content {
        width: 90%;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    header nav ul {
        gap: 4rem;
    }

    .hero h1 {
        font-size: 6rem;
    }

    .hero p {
        font-size: 2rem;
    }

    .main_content {
        grid-template-columns: 1fr;
    }

    .car_card img {
        width: 100%;
        height: auto;
    }

    .avis_content {
        flex-direction: column;
        gap: 2rem;
    }

    .questions_box {
        padding: 1rem;
    }

    footer {
        flex-direction: column;
    }
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 137px;
        left: 0;
        width: 100%;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        z-index: 1;
    }

    .menu a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 15px;
        border-bottom: 2px solid white;
    }

    .menu-toggle {
        display: none;
        /* Masquer par défaut */
        flex-direction: column;
        cursor: pointer;
    }

    .menu-toggle span {
        width: 48px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.4s ease;
    }

    .menu-toggle span:nth-child(1) {
        transform: translateY(-8px);
    }

    .menu-toggle span:nth-child(3) {
        transform: translateY(8px);
    }

    .menu-toggle.open span:nth-child(1) {
        transform: rotate(45deg) translateY(0px);
        position: absolute;
    }

    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open span:nth-child(3) {
        transform: rotate(-45deg) translateY(0px);
        position: absolute;
    }

    .show {
        display: block;
    }

    .menu-toggle {
        display: flex;
        /* Afficher uniquement sur les téléphones */
    }

    header nav ul {
        display: none;
        /* Masquer la navigation classique */
    }

    footer {
        flex-direction: column;
    }
}


@media (max-width: 480px) {

    .logo {
        width: 50%;
    }

    .menu {
        top: 125px;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .hero p {
        font-size: 1.6rem;
    }

    .nos_vehicules h3 {
        font-size: 2rem;
    }

    .nos_vehicules p {
        font-size: 1.4rem;
    }

    .div_questions {
        width: 80%;
    }

    .questions_box {
        padding: 1rem;
    }

    .questions_box p {
        font-size: 1.4rem;
    }

    footer {
        flex-direction: column;
    }
}

@media (max-width: 376px) {
    .menu {
        top: 110px;
    }
}

@media (max-width: 326px) {
    .menu {
        top: 95px;
    }
}