body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f4f4f4;
}

button {
    background-color: black;

    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}