@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'roboto';
}

body {
    background-color: #F9F6F6;
}

/*Titre*/
h1{
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
}

#main{
    width: 80%;
}

/*btn*/
.btn-effacer-filtre {
    color: black;
}

.btn-offre {
    color: white;
    background-color: black;
    border: none;
    border-radius: 2rem;
    padding: .7rem 3rem;
    display: block;
}

#compte {
    font-family: 'Montserrat';
    background-color: #D9D9D9;
    color: #333;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

/*Barre de Navigation*/

header{
    position: relative;
}

.menu {
    display: none;
}

/*Menu select pour filtrer*/

.list-filtre {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 80%;
    margin: auto;
}

.filtre {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 2rem;
    background-color: #D9D9D9;
}

.filtre option:hover{
    color: black;
}

.filtre-container {
    display: none;
}

/*Section main pour les voitures*/
main {
    padding: 10rem 0rem 10rem 0rem;
}

h2 {
    text-align: center;
}

/*FOOTER*/
footer {
    background-color: #333;
    color: white;
    padding: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.footer-top {
    width: fit-content;
}


.footer-text {
    font-size: 1.6rem;
}

.footer-text p {
    margin: 0.5rem 0;
}

.footer-text a {
    color: white;
    text-decoration: none;
}

.footer-middle {
    padding: 1rem 0rem;
    display: flex;
    gap: 2rem;
}

.footer-bottom p {
    margin: 0;
    font-size: 1.4rem;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

@media (max-width: 769px) {

    /*Titre*/
    h1 {
        text-align: center;
        padding-left: 0%;
    }

    /*NAVIGATION*/
    nav ul li a {
        font-size: 1.4rem;
    }

    nav ul img {
        width: 15%;
    }

    /*Section filtre*/
    .list-filtre { 
        flex-wrap: wrap;
    }

    .filtre {
        font-size: 1.4rem;
        padding: 0.8rem 1.5rem;
        display: block;

    }

    /*Section footer*/

    .footer-top {
        width: 35%;
    }

    .footer-text a {
        font-size: 1.2rem;
    }

    .footer-middle {
        padding: 1rem 2rem;
        display: flex;
        gap: 2rem;
        font-size: 1.2rem;
    }

    .footer-links a {
        font-size: 1.2rem;
    }
}


@media (max-width: 376px) {

    /*Class pour gérer l'affichage ou non du menu lorsque l'on clique sur le bouton filtrer*/
    .list-filtre {
        display: none;
    }

    .hidden {
        display: none;
    }


    .box {
        margin-top: 20px;
        padding: 20px;
        background-color: #F9F6F6;
        display: inline-block;
        width: 100%;
    }

    /*Barre de Navigation*/
    nav ul {
        height: 7.5rem;
        display: flex;
        align-items: center;
        padding: 1rem 0rem 1rem 0rem;
    }

    nav ul li a {
        display: none;
    }

    nav ul img {
        width: 30%;
    }

    /*Menu-burger*/
    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-toggle span {
        width: 48px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.4s ease;

    }

    .menu-toggle span:nth-child(1) {
        transform: translateY(-8px);
    }

    .menu-toggle span:nth-child(3) {
        transform: translateY(8px);
    }

    .menu-toggle.open span:nth-child(1) {
        transform: rotate(45deg) translateY(0px);
        position: absolute;
    }

    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open span:nth-child(3) {
        transform: rotate(-45deg) translateY(0px);
        position: absolute;
    }

    .menu {
        display: none;
        background-color: #333;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    }

    .menu a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 15px;
        border-bottom: 2px solid white;
    }

    .show {
        display: block;
    }

    /*Titre*/
    h1 {
        padding-left: 0%;
        padding-top: 2.8rem;
        text-align: center;
        font-size: 2rem;
    }

    h4 {
        padding: 1.5rem 0rem 1rem 1rem;
    }

    /*btn*/
    #btn-filtre {
        padding: 0.8rem 2rem;
        border: none;
        border-radius: 2rem;
        background-color: #D9D9D9;
        text-align: center;
        margin-top: 2rem;
        margin-left: 12rem;
    }

    .bouton-critere {
        padding: 0.8rem 2rem;
        border: none;
        border-radius: 2rem;
        background-color: #D9D9D9;
        font-size: 1.4rem;
        width: 15rem;
    }


    #btn-offre {
        color: white;
        background-color: black;
        border: none;
        border-radius: 2rem;
        padding: 1rem 4rem;
        display: block;
        margin: auto;
        margin-top: 2rem;
    }

    /*Section filtrer et trier*/
    .filtre-container {
        display: block;
    }

    .filtre-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .filtre-header p {
        font-size: 1.4rem;
    }

    .double-bouton {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.6rem;

    }

    /*Section footer*/

    .footer-text a {
        font-size: 1.2rem;
    }

    .footer-middle {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.2rem;
    }

    .footer-links a {
        font-size: 1.2rem;
    }
}